<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" routerLink="/home">Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="isLoggedIn" routerLink="/user">User </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="showAdmin" routerLink="/admin">Admin </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="showMod" routerLink="/mod">Moderator </a>
      </li>

    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="!isLoggedIn" routerLink="/register"
          > Register
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="!isLoggedIn" routerLink="/login">Login </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="isLoggedIn" routerLink="/profile">Profile </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#" *ngIf="isLoggedIn" (click)="logOut()">Logout </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
